# Background Information

### Dataset
The dataset contains the number of burglary reported in Sutton. It is downloaded from https://data.sutton.gov.uk/data-catalog-explorer/indicator/I2887/?view=table.

### Goal of current script
To practice data visualisation

### Content
1. Data cleaning
2. Asking questions
3. Data mining
4. Draw conclusions

# 1. Data Cleaning

In [1]:
# Import libraries
import pandas as pd

In [12]:
# Import data
df = pd.read_csv('Burglary_data.csv')

# Drop missing data
df = df.dropna()

# Check data type of each column
'''If the column contains 1 or more entries that are different from others, their type would be reported.'''
print(df.dtypes)

NAME               object
Jan-11 - Dec-11     int64
Jan-12 - Dec-12     int64
Jan-13 - Dec-13     int64
Jan-14 - Dec-14     int64
Jan-15 - Dec-15     int64
Jan-16 - Dec-16     int64
Jan-17 - Dec-17     int64
Jan-18 - Dec-18     int64
Jan-19 - Dec-19     int64
Jan-20 - Dec-20     int64
Jan-21 - Dec-21     int64
dtype: object

# Task 2 - Asking questions with descriptive statistics

We will show
1. the minimum, maximum, average and total number of burglary for each year
2. if there is any outliner

In [13]:
df.describe()

,Jan-11 - Dec-11,Jan-12 - Dec-12,Jan-13 - Dec-13,Jan-14 - Dec-14,Jan-15 - Dec-15,Jan-16 - Dec-16,Jan-17 - Dec-17,Jan-18 - Dec-18,Jan-19 - Dec-19,Jan-20 - Dec-20,Jan-21 - Dec-21
count,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000
mean,13.570248,12.975207,11.950413,11.545455,10.619835,10.314050,9.330579,9.801653,11.214876,8.404959,7.446281
std,8.130013,7.570186,7.166881,6.600505,5.990626,5.051457,5.337584,6.518716,6.859551,5.278223,4.593384
min,1.000000,0.000000,2.000000,1.000000,2.000000,2.000000,1.000000,2.000000,1.000000,0.000000,0.000000
25%,8.000000,8.000000,7.000000,7.000000,6.000000,7.000000,6.000000,6.000000,7.000000,5.000000,4.000000
50%,12.000000,11.000000,10.000000,10.000000,9.000000,9.000000,8.000000,8.000000,10.000000,8.000000,7.000000
75%,17.000000,15.000000,15.000000,14.000000,13.000000,13.000000,12.000000,12.000000,15.000000,12.000000,9.000000
max,41.000000,43.000000,39.000000,42.000000,36.000000,27.000000,33.000000,55.000000,39.000000,39.000000,35.000000

In [17]:
# Total number of burglary of each year
df['Jan-11 - Dec-11'].sum(axis=0)
df[0]

KeyError: 0